<main class="background-beige">
    <section class="container padding-top-3 padding-bottom-3">
        <h2>contact</h2>
        <a class="no-underline underline-hov" href="mailto:Lorem-Ipsum@dolor.com" target="blank">Mail</a><br />
        <a class="no-underline underline-hov" href="https://www.google.fr/maps/" target="blank">Adresse</a><br />
        <a class="no-underline underline-hov" href="https://www.instagram.com/" target="blank">Instagram</a><br />
        <a class="no-underline underline-hov" href="https://x.com/?lang=fr" target="blank">X</a>
    </section>
</main>
