<header class="sticky background-white border-bottom-dark z-index-2">

  <div class="container">
    <nav class="desktop-nav row">

      <div class="col-sm-8 col-md-10">
        <a href="#">
          <img class="width-100" src="/logo.jpg" alt="Logo du site Au petit village" />
        </a>
      </div>

      <div class="col-sm-2 col-md-1 margin-top-3">
        <a class="no-underline underline-hov" href="contact">
          Contact
        </a>
      </div>

      <div class="col-sm-2 col-md-1 margin-top-3">
        <a class="no-underline underline-hov" href="a-propos">
          A propos
        </a>
      </div>

    </nav>

    <nav class="mobile-nav row">

      <div class="col-sm-8 col-md-10">
        <a href="#">
          <img class="width-100" src="/logo.jpg" alt="Logo du site Au petit village" />
        </a>
      </div>

      <div class="col-sm-2 col-md-1 margin-top-3">
        <a class="no-underline underline-hov margin-top-2" href="contact">
          Contact
        </a>
      </div>

      <div class="col-sm-2 col-md-1 margin-top-3">
        <a class="no-underline underline-hov margin-top-2" href="a-propos">
          A propos
        </a>
      </div>

    </nav>
 </div>

</header>

<router-outlet />

<footer>

  <div class="container">
    <div class="row">

      <div class="col-sm-5"></div>
      <div class="col-sm-1 margin-top-1 margin-bottom-1">
        <a class="opacity-hov" href="https://www.instagram.com/" target="blank">
          <img class="width-50" src="/Instagram.png" alt="Instagram" />
        </a>
      </div>

      <div class="col-sm-1 margin-top-1 margin-bottom-1">
        <a class="opacity-hov" href="https://x.com/?lang=fr" target="blank">
          <img class="width-50" src="/X.png" alt="X/Twitter" />
        </a>
      </div>
      <div class="col-sm-5"></div>

    </div>
  </div>

</footer>
