.background-rouge {
    background-color: #DA001E;
}

.text-jaune {
    color: #FDD90B;
}

.text-right {
    text-align: end;
}

.width-100 {
    width: 100%;
}

.max-width-32 {
    max-width: 32%
}

.border-case {
    border: 1px solid #151217;
    border-radius: 30px;
}

.border-img {
    border: 1px solid #151217;
    border-radius: 30px;
}

.padding-top-1 {
    padding-top: 1%;
}

.padding-top-3 {
    padding-top: 3%;
}

.padding-bottom-1 {
    padding-bottom: 1%;
}

.padding-bottom-3 {
    padding-bottom: 3%;
}

.padding-left-0 {
    padding-left: 0px;
}

.padding-left-3 {
    padding-left: 3%;
}

.padding-right-0 {
    padding-right: 0px;
}

.padding-right-3 {
    padding-right: 3%;
}

.no-underline {
    text-decoration: none;
}

.underline-hov:hover {
    text-decoration: underline;
}

.opacity-hov:hover {
    opacity: 0.7;
}