@font-face {
    font-family: Comfortaa;
    src: url(../public/Comfortaa-Regular.ttf);
}

@font-face {
    font-family: Bubbleboddy;
    src: url(../public/bubbleboddyneue-regular\ trial.ttf);
}

p, a, h1, h2, h3 {
    color: #151217;
}

p, a {
    font-family: Comfortaa;
}

h1, h2, h3 {
    font-family: Bubbleboddy;
}

.text-center {
    text-align: center;
}

main {
    background-color: #F9D0A3;
    border-bottom: 1px solid #151217;
}