<main class="background-beige">
    <h1 class="container padding-top-1">
        Au Petit Village
    </h1>

    <section class="container">
        <h2>Présentation :</h2>
        <p>
            “Au petit village” est une entreprise qui confectionne des figurines inspirées de la bande
            dessinée Astérix et Obélix.
        </p>
    </section>

    <section class="container">
        <div class="row gap-4 text-center">

            <div class="col-sm-12 col-md background-jaune border-case padding-0 padding-bottom-1">
                <a href="/produit-1">
                    <img class="width-100 border-img" src="/asterix.jpg" alt="Figurine d'Astérix" />
                    <p class="padding-top-1">
                        Figurine : Astérix
                    </p>
                    <p>5.99€</p>
                    <a href="/produit-1" class="background-rouge border-case padding-top-1 padding-bottom-1 padding-left-3 padding-right-3 no-underline underline-hov text-jaune opacity-hov">
                        Acheter
                    </a>
                </a>
            </div>

            <div class="col-sm-12 col-md background-jaune border-case padding-0 padding-bottom-1">
                <a href="/produit-2">
                    <img class="width-100 border-img" src="/obelix.jpg" alt="Figurine d'Obélix" />
                    <p class="padding-top-1">
                        Figurine : Obélix
                    </p>
                    <p>9.99€</p>
                    <a href="/produit-2" class="background-rouge border-case padding-top-1 padding-bottom-1 padding-left-3 padding-right-3 no-underline underline-hov text-jaune opacity-hov">
                        Acheter
                    </a>
                </a>
            </div>

            <div class="col-sm-12 col-md background-jaune border-case padding-0 padding-bottom-1">
                <a href="/produit-3">
                    <img class="width-100 border-img" src="/abraracourcix.jpg" alt="Figurine d'Abraracourcix" />
                    <p class="padding-top-1">
                        Figurine : Abraracourcix
                    </p>
                    <p>6.99€</p>
                    <a href="/produit-3" class="background-rouge border-case padding-top-1 padding-bottom-1 padding-left-3 padding-right-3 no-underline underline-hov text-jaune opacity-hov">
                        Acheter
                    </a>
                </a>
            </div>

        </div>
    </section>
</main>
